python-dotenv
scipy==1.11.3

# huggingface
accelerate==0.21.0
torch
transformers==4.31.0
einops==0.6.1
langchain==0.0.240
xformers==0.0.20
bitsandbytes==0.41.0

# rest api
flask==2.3.2
flask-cors==3.0.10
singleton-decorator==1.0.0
